#**SQL**

Here are some common SQL interview questions that can be solved using BigQuery, along with solutions to each:

**1. Query to Find the Second Highest Salary**


You may be asked to write a query to find the second-highest salary from an employee table.

Solution:

In [ ]:
SELECT MAX(salary) AS second_highest_salary
FROM `your_project.your_dataset.employees`
WHERE salary < (SELECT MAX(salary) FROM `your_project.your_dataset.employees`);

**2. Count of Employees in Each Department**

This query groups employees by department and shows the number of employees in each department.

Solution:

In [ ]:
SELECT department, COUNT(employee_id) AS num_employees
FROM `your_project.your_dataset.employees`
GROUP BY department;

**3. Find Duplicate Records in a Table**

If you need to find duplicate rows in a table based on specific columns.

In [ ]:
SELECT employee_id, name, COUNT(*) AS count
FROM `your_project.your_dataset.employees`
GROUP BY employee_id, name
HAVING COUNT(*) > 1;

**4. Get Employees Who Earn More Than the Average Salary**

This query lists employees whose salary is above the average salary.

Solution:

In [ ]:
SELECT employee_id, name, salary
FROM `your_project.your_dataset.employees`
WHERE salary > (SELECT AVG(salary) FROM `your_project.your_dataset.employees`);

**5. Query to Rank Employees Based on Salary**

Here, the RANK() window function is used to rank employees by their salary in descending order.

In [ ]:
SELECT
  employee_id,
  name,
  salary,
  RANK() OVER (ORDER BY salary DESC) AS salary_rank
FROM `your_project.your_dataset.employees`;

**6. Find the Department with the Highest Average Salary**

This query helps find which department has the highest average salary.

Solution:

In [ ]:
SELECT department, AVG(salary) AS avg_salary
FROM `your_project.your_dataset.employees`
GROUP BY department
ORDER BY avg_salary DESC
LIMIT 1;

**7. Find Employees Who Joined in the Last 6 Months**

This query selects employees who joined the company within the last six months.

Solution:

In [ ]:
SELECT employee_id, name, hire_date
FROM `your_project.your_dataset.employees`
WHERE hire_date > DATE_SUB(CURRENT_DATE(), INTERVAL 6 MONTH);

**8. Join Two Tables (Employees and Departments)**

A common question is to join two tables, such as employees and departments.

Solution:

In [ ]:
SELECT
  e.employee_id,
  e.name,
  d.department_name
FROM `your_project.your_dataset.employees` e
JOIN `your_project.your_dataset.departments` d
ON e.department_id = d.department_id;

**9. Aggregate Functions: Get the Total, Minimum, Maximum, and Average Salary**

This query demonstrates the use of aggregate functions to calculate total, minimum, maximum, and average salaries.

Solution:

In [ ]:
SELECT
  SUM(salary) AS total_salary,
  MIN(salary) AS min_salary,
  MAX(salary) AS max_salary,
  AVG(salary) AS avg_salary
FROM `your_project.your_dataset.employees`;

**10. Find Top 3 Highest Paid Employees in Each Department**

Using window functions like ROW_NUMBER() to find the top 3 highest-paid employees in each department.

In [ ]:
WITH ranked_employees AS (
  SELECT
    employee_id,
    name,
    salary,
    department,
    ROW_NUMBER() OVER (PARTITION BY department ORDER BY salary DESC) AS rank
  FROM `your_project.your_dataset.employees`
)
SELECT
  employee_id,
  name,
  salary,
  department
FROM ranked_employees
WHERE rank <= 3;

Key Interview Concepts Tested:
- Aggregate Functions: Functions like COUNT(), SUM(), AVG(), MIN(), and MAX() are widely used to solve real-world problems.

- Window Functions: RANK(), ROW_NUMBER(), and DENSE_RANK() are commonly used in interview questions for ranking and partitioning data.

- Subqueries: Questions involving subqueries, such as finding the second-highest salary or using a subquery to calculate an average, are often asked.

- Joins: You will often be asked to join tables, so itâ€™s crucial to understand different types of joins like INNER JOIN, LEFT JOIN, etc.

- Date Functions: Handling date-related queries like calculating the difference between dates or filtering based on date ranges is important.

- GROUP BY and HAVING: Mastery of grouping data and applying filters to aggregated results is important in interviews.

**11. Creating and Using a View**

A view is a saved SQL query that you can treat like a table. You can query it or join it with other tables.

Example:

In [ ]:
-- Creating a view to show average salary per department
CREATE OR REPLACE VIEW `your_project.your_dataset.avg_salary_view` AS
SELECT
  department,
  AVG(salary) AS avg_salary
FROM
  `your_project.your_dataset.employees`
GROUP BY
  department;

-- Querying the view
SELECT * FROM `your_project.your_dataset.avg_salary_view`
WHERE avg_salary > 50000;

**12. Using Window Functions**

Window functions operate on a set of rows and return a single value for each row from the underlying query. Some common window functions are RANK(), ROW_NUMBER(), LAG(), LEAD(), and SUM().

Example: Using ROW_NUMBER()

In [ ]:
-- Rank employees within each department by salary
SELECT
  employee_id,
  name,
  department,
  salary,
  ROW_NUMBER() OVER (PARTITION BY department ORDER BY salary DESC) AS salary_rank
FROM
  `your_project.your_dataset.employees`
ORDER BY department, salary_rank;

Example: Using LAG()

The LAG() function allows you to access data from the previous row within the result set.

In [ ]:
-- Compare each employee's salary with the previous employee in the same department
SELECT
  employee_id,
  name,
  department,
  salary,
  LAG(salary) OVER (PARTITION BY department ORDER BY salary) AS previous_salary
FROM
  `your_project.your_dataset.employees`;

Example: Using SUM() Over a Window

In [ ]:
-- Calculate the cumulative total salary for each employee, ordered by salary
SELECT
  employee_id,
  name,
  salary,
  SUM(salary) OVER (ORDER BY salary) AS cumulative_salary
FROM
  `your_project.your_dataset.employees`;

**13. Common Table Expressions (CTE)**

CTEs are temporary result sets that are defined within the execution of a single query and can be referenced later in that query.

Example

In [ ]:
-- Using CTEs to calculate total department salaries and average salaries in a single query
WITH dept_salary AS (
  SELECT
    department,
    SUM(salary) AS total_salary,
    AVG(salary) AS avg_salary
  FROM
    `your_project.your_dataset.employees`
  GROUP BY
    department
)
SELECT
  department,
  total_salary,
  avg_salary
FROM
  dept_salary
WHERE
  avg_salary > 50000;

**14. Recursive CTE**

Recursive CTEs are useful for hierarchical data like organizational structures or parent-child relationships.

Example:

In [ ]:
-- Recursive CTE to get employee hierarchy based on manager relationships
WITH RECURSIVE employee_hierarchy AS (
  -- Base case
  SELECT
    employee_id,
    name,
    manager_id,
    0 AS level
  FROM
    `your_project.your_dataset.employees`
  WHERE
    manager_id IS NULL

  UNION ALL

  -- Recursive case
  SELECT
    e.employee_id,
    e.name,
    e.manager_id,
    eh.level + 1 AS level
  FROM
    `your_project.your_dataset.employees` e
  JOIN
    employee_hierarchy eh
  ON
    e.manager_id = eh.employee_id
)

SELECT * FROM employee_hierarchy;

**15. Using ARRAY_AGG() to Create Arrays**

The ARRAY_AGG() function aggregates data into an array.

Example:

In [ ]:
-- Get a list of employees in each department as an array
SELECT
  department,
  ARRAY_AGG(name) AS employee_list
FROM
  `your_project.your_dataset.employees`
GROUP BY
  department;

**16. Pivoting Data**

BigQuery doesn't have a built-in PIVOT function, but you can use conditional aggregation to achieve similar results.

Example:

In [ ]:
-- Pivot employee data by department to show counts of employees by department
SELECT
  COUNTIF(department = 'Sales') AS sales_count,
  COUNTIF(department = 'Engineering') AS engineering_count,
  COUNTIF(department = 'HR') AS hr_count
FROM
  `your_project.your_dataset.employees`;

**17. UNNEST Function for Arrays**

BigQuery supports arrays as a data type, and the UNNEST() function allows you to convert an array into a set of rows.

Example:

In [ ]:
-- Create an array and then use UNNEST() to break it into rows
WITH employee_data AS (
  SELECT
    ARRAY<STRUCT<employee_id INT64, name STRING>>[
      (1, 'John'),
      (2, 'Jane'),
      (3, 'Alice')
    ] AS employees
)

SELECT
  employee_id,
  name
FROM
  employee_data,
  UNNEST(employees);

**18. USING QUALIFY Clause**

In BigQuery, you can use the QUALIFY clause to filter results from a window function.

Example:

In [ ]:
-- Get the highest salary employee per department
SELECT
  employee_id,
  name,
  salary,
  department,
  RANK() OVER (PARTITION BY department ORDER BY salary DESC) AS salary_rank
FROM
  `your_project.your_dataset.employees`
QUALIFY salary_rank = 1;

**19. Regular Expressions (REGEXP_CONTAINS, REGEXP_EXTRACT)**

BigQuery provides built-in functions for regular expression matching.

Example: Using REGEXP_CONTAINS()

In [ ]:
-- Find employees whose names start with 'A'
SELECT
  employee_id,
  name
FROM
  `your_project.your_dataset.employees`
WHERE
  REGEXP_CONTAINS(name, r'^A');

Example: Using REGEXP_EXTRACT()

In [ ]:
-- Extract domain names from email addresses
SELECT
  email,
  REGEXP_EXTRACT(email, r'@(.+)$') AS domain
FROM
  `your_project.your_dataset.employees`;

**20. JSON Functions**

BigQuery provides functions to work with JSON data.

Example: Parsing JSON Data

In [ ]:
-- Extract fields from a JSON object
SELECT
  JSON_EXTRACT_SCALAR(json_column, '$.name') AS name,
  JSON_EXTRACT_SCALAR(json_column, '$.age') AS age
FROM
  `your_project.your_dataset.employee_json_table`;

**Key Advanced SQL Concepts Covered:**
- Views: To create reusable queries that act like tables.
- Window Functions: To perform row-by-row calculations such as ranking, cumulative totals, and comparisons between rows.
- CTEs (Common Table Expressions): Useful for breaking complex queries into simpler steps.
- Recursive CTEs: Handle hierarchical data or recursive relationships.
- Array Functions: Working with arrays and using functions like ARRAY_AGG() and UNNEST().
- Pivoting: Achieving pivot table-like operations using conditional aggregation.
- Regular Expressions: Extracting and matching patterns in strings.
- JSON Functions: Handling and parsing JSON data.
These concepts are common in SQL interview questions for advanced roles such as data engineers, data scientists, and database architects. Practicing these queries will help you confidently handle advanced SQL questions in interviews.

**1. Question: Find the Running Total (Cumulative Sum)**

You are given a table of daily sales data. Write a query to calculate the running total of sales for each day.

In [ ]:
SELECT
  date,
  sales,
  SUM(sales) OVER (ORDER BY date) AS running_total_sales
FROM
  `your_project.your_dataset.sales_data`
ORDER BY
  date;

**Explanation:**
Window Function (SUM() OVER) is used to calculate the cumulative sum of sales ordered by the date column.

**2. Question: Find the Nth Highest Salary**

Write a query to find the Nth highest salary in the employees table.

Solution:

In [ ]:
WITH ranked_salaries AS (
  SELECT
    salary,
    DENSE_RANK() OVER (ORDER BY salary DESC) AS rank
  FROM
    `your_project.your_dataset.employees`
)
SELECT
  salary
FROM
  ranked_salaries
WHERE
  rank = N;  -- Replace N with the value you're looking for

**Explanation:**

**Window Function (DENSE_RANK())** assigns a rank to each salary. This query retrieves the salary that corresponds to the Nth rank.

**3. Question:** Get the Employee with the Highest Salary in Each Department
Find the employee with the highest salary in each department.

Solution:

In [ ]:
WITH department_salary_ranks AS (
  SELECT
    employee_id,
    name,
    department,
    salary,
    RANK() OVER (PARTITION BY department ORDER BY salary DESC) AS salary_rank
  FROM
    `your_project.your_dataset.employees`
)
SELECT
  employee_id,
  name,
  department,
  salary
FROM
  department_salary_ranks
WHERE
  salary_rank = 1;

**Explanation:**

**The RANK() window function** partitions the data by department and ranks employees based on their salary. The query selects employees with the highest rank (i.e., salary rank = 1).

**4. Question: Find Employees with More than One Manager**

In a companyâ€™s hierarchy, some employees report to more than one manager. Write a query to find employees who report to more than one manager.

Solution:

In [ ]:
SELECT
  employee_id,
  COUNT(manager_id) AS num_managers
FROM
  `your_project.your_dataset.employee_manager`
GROUP BY
  employee_id
HAVING
  COUNT(manager_id) > 1;

**Explanation:**

This query groups employees by employee_id and counts the number of manager_id assigned to each employee. The HAVING clause filters out employees with more than one manager.

**5. Question: Calculate Moving Average of Sales Over a 7-Day Window**
Write a query to calculate the 7-day moving average of sales.

Solution:

In [ ]:
SELECT
  date,
  sales,
  AVG(sales) OVER (ORDER BY date ROWS BETWEEN 6 PRECEDING AND CURRENT ROW) AS moving_avg_sales
FROM
  `your_project.your_dataset.sales_data`
ORDER BY
  date;

**Explanation:**
**ROWS BETWEEN 6 PRECEDING AND CURRENT ROW** specifies the 7-day window (including the current row) for calculating the moving average of sales.

**6. Question: Detect Gaps in Date Ranges**

You are given a table with date ranges for active subscriptions. Write a query to detect gaps between subscriptions.

Solution:

In [ ]:
SELECT
  user_id,
  end_date,
  LEAD(start_date) OVER (PARTITION BY user_id ORDER BY start_date) AS next_start_date
FROM
  `your_project.your_dataset.subscriptions`
WHERE
  DATE_DIFF(LEAD(start_date) OVER (PARTITION BY user_id ORDER BY start_date), end_date, DAY) > 0;

**Explanation:**
LEAD() is used to get the next subscriptionâ€™s start date for each user, and DATE_DIFF() calculates the difference between the current subscriptionâ€™s end date and the next subscriptionâ€™s start date.

The WHERE clause filters rows where thereâ€™s a gap between subscriptions.

**7. Question: Find Consecutive Streaks of Days with Sales**

Write a query to find periods of consecutive days with sales greater than a certain threshold.

Solution:

In [ ]:
WITH ranked_sales AS (
  SELECT
    date,
    sales,
    sales > 1000 AS above_threshold,
    DATE_DIFF(date, LAG(date) OVER (ORDER BY date), DAY) AS days_difference
  FROM
    `your_project.your_dataset.sales_data`
),
streaks AS (
  SELECT
    date,
    SUM(CASE WHEN days_difference > 1 OR days_difference IS NULL THEN 1 ELSE 0 END)
    OVER (ORDER BY date) AS streak_id
  FROM
    ranked_sales
  WHERE above_threshold = TRUE
)
SELECT
  streak_id,
  MIN(date) AS streak_start,
  MAX(date) AS streak_end,
  COUNT(*) AS streak_length
FROM
  streaks
GROUP BY
  streak_id;

**Explanation:**
The first CTE (ranked_sales) checks if sales are above a certain threshold and calculates the difference between consecutive days.
The second CTE (streaks) uses a cumulative sum to assign a unique streak_id for each streak of consecutive days.
The final query groups by streak_id to get the start and end of each streak.

**8. Question:** Find All the Employees Who Have the Same Salary as Their Manager
Given an employee-manager hierarchy, find employees who have the same salary as their manager.

Solution:

In [ ]:
SELECT
  e.employee_id,
  e.name AS employee_name,
  m.name AS manager_name,
  e.salary
FROM
  `your_project.your_dataset.employees` e
JOIN
  `your_project.your_dataset.employees` m
ON
  e.manager_id = m.employee_id
WHERE
  e.salary = m.salary;

**Explanation:**
This query joins the employees table with itself to match each employee with their manager, then filters for employees whose salary is the same as their managerâ€™s salary.

**9. Question: Rank Salespeople by Performance in Each Quarter**
Rank salespeople by their total sales in each quarter.

Solution:

In [ ]:
SELECT
  salesperson_id,
  QUARTER(date) AS quarter,
  SUM(sales) AS total_sales,
  RANK() OVER (PARTITION BY QUARTER(date) ORDER BY SUM(sales) DESC) AS sales_rank
FROM
  `your_project.your_dataset.sales_data`
GROUP BY
  salesperson_id, QUARTER(date);

**Explanation:**
RANK() OVER (PARTITION BY QUARTER(date)) calculates the sales rank for each salesperson within each quarter, based on the total sales in that quarter.

**10. Question: Find Products Purchased Together**

You are given a table of orders, where each order has multiple products. Write a query to find products that are frequently purchased together.

Solution:

In [ ]:
WITH product_pairs AS (
  SELECT
    o1.product_id AS product_1,
    o2.product_id AS product_2,
    COUNT(*) AS num_orders
  FROM
    `your_project.your_dataset.orders` o1
  JOIN
    `your_project.your_dataset.orders` o2
  ON
    o1.order_id = o2.order_id AND o1.product_id < o2.product_id
  GROUP BY
    product_1, product_2
)
SELECT
  product_1,
  product_2,
  num_orders
FROM
  product_pairs
WHERE
  num_orders > 10  -- Threshold for frequent pairs
ORDER BY
  num_orders DESC;

**Explanation:**

The query performs a self-join on the orders table to pair products within the same order and counts how often each pair of products is purchased together.
The WHERE clause filters for frequently purchased pairs (e.g., more than 10 orders).

**Key Concepts Tested in These Questions:**
- Window Functions: Used extensively in ranking, cumulative calculations, and identifying gaps or streaks in data.
Common Table Expressions (CTEs): To break complex queries into manageable steps.
- Joins: Both self-joins and standard joins are often used in these advanced queries.
- Date and Time Functions: For calculating differences between dates and analyzing temporal patterns (like quarterly performance).
- Recursive Logic: Handling hierarchies or recursive relationships.
- Aggregation with Conditional Logic: For detecting patterns like product purchases and sales streaks.

These questions are designed to test both SQL proficiency and a deep understanding of analytical problems, which are critical for lead data scientist roles.



**1. Explain the Difference Between INNER JOIN and LEFT JOIN.**

INNER JOIN: Returns only the rows where there is a match in both tables.
LEFT JOIN: Returns all rows from the left table and the matched rows from the right table. If there's no match, the result is NULL on the side of the right table.

**2. What Are ACID Properties in SQL?**

ACID stands for Atomicity, Consistency, Isolation, and Durability. These properties ensure reliable processing of database transactions:

- Atomicity: Ensures that all operations within a transaction are completed successfully; if not, the transaction is aborted.
- Consistency: Ensures that a transaction brings the database from one valid state to another, maintaining database invariants.
- Isolation: Ensures that the operations of a transaction are isolated from other transactions.
- Durability: Ensures that once a transaction is committed, it will remain so, even in the event of a system failure.

**3. What Is the Difference Between UNION and UNION ALL?**

- UNION: Combines the results of two queries and removes duplicate rows.
- UNION ALL: Combines the results of two queries without removing duplicates.

**4. What Is Normalization? Explain Its Different Forms.**

Normalization is the process of organizing data to reduce redundancy and improve data integrity. The normal forms include:

- 1NF (First Normal Form): Ensures that the table has only atomic (indivisible) values and each record is unique.
- 2NF (Second Normal Form): Achieved by meeting 1NF and ensuring that all non-key attributes are fully functionally dependent on the primary key.
- 3NF (Third Normal Form): Achieved by meeting 2NF and ensuring that all attributes are functionally dependent only on the primary key.
- BCNF (Boyce-Codd Normal Form): A stricter version of 3NF where every determinant is a candidate key.

**5. What Are Indexes in SQL? Explain Their Types.**

Indexes are database objects that improve the speed of data retrieval operations on a table at the cost of additional space and maintenance overhead. Types include:

- Clustered Index: Determines the physical order of data in the table; there can be only one clustered index per table.
- Non-Clustered Index: Creates a separate object from the data table that points to the data; multiple non-clustered indexes can exist on a table.

**6. What Is the Difference Between DELETE and TRUNCATE Commands?**

- DELETE: Removes rows from a table based on a condition; it is a DML command and can be rolled back.
- TRUNCATE: Removes all rows from a table; it is a DDL command and cannot be rolled back.

**7. What Is a Subquery? Explain Its Types.**

A subquery is a query nested inside another query. Types include:

- Single-Row Subquery: Returns a single row and is used with operators like =, <, >, etc.
- Multiple-Row Subquery: Returns multiple rows and is used with operators like IN, ANY, ALL.
- Multiple-Column Subquery: Returns multiple columns and is used with operators like IN with multiple columns.

**8. What Is a View in SQL?**

A view is a virtual table based on the result set of a SQL query. It can simplify complex queries, enhance security by restricting access to specific data, and provide a consistent interface to the data.

**9. What Is the Difference Between DDL and DML?**

- DDL (Data Definition Language): Includes commands like CREATE, ALTER, DROP that define and modify database structures.
- DML (Data Manipulation Language): Includes commands like SELECT, INSERT, UPDATE, DELETE that manage data within schema objects.

**10. What Is a Transaction in SQL?**

A transaction is a sequence of one or more SQL operations executed as a single unit. Transactions ensure data integrity and follow the ACID properties.